
.footer{
    font-size: 12px;
    color: black;
    margin: 1rem;
    position: relative;
    
    text-align: center;
}
.footer a{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: black;    
}
* {
    color: black;
}
a{
    color: black;
}
.left, .right{
    font-size: 5rem;
    color:rgb(180, 223, 229);
}



