.logo{
 margin: 1.5rem;
}
.App{
    background-color: rgb(255, 255, 255);
}
.footer{
    font-size: 12px;
    color: black;
    margin: 1rem;
    text-align: center;
}
.footer a{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

