
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "bootstrap-icons/font/bootstrap-icons.css";

* {
    color: black;
}
a{
    color: black;
}
body{
    background-color: #fbe8a6;
}
.logo{
    margin: .5rem;
   }
input::placeholder{
    color: black;
    font-weight: 600;
    background-color: white;
    opacity: 1;
    font-family: "DM Sans", sans-serif;
}
.form-control{
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(22, 27, 46, .4);
}
.btn{
    background-color:rgb(244, 151, 108);
    width: 15%;
    border-color: rgb(22, 27, 46, .4) rgb(22, 27, 46, .4) rgb(22, 27, 46, .4) transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    transition: ease-in-out 500ms;
}
.btn:hover{
    background-color:rgb(180, 223, 229);
}
.heart{
    color: rgb(22, 27, 46);
    font-size: 26px;
}
.input-group{
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
    max-width: 600px;
    position: relative;
    margin: 0 auto;   
}
.hint{
    font-size: 16px;
    font-family: "Cutive Mono", monospace;
    font-weight: 600;
    letter-spacing: -1px;
    color: rgba(25, 30, 49, 0.795);
}
input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.dictionary section{
    background-color: rgb(255, 255, 255);
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 30px 10px;
    border-radius: 8px;
    padding: 20px 10px 20px 10px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}
.Results .main-word{
    background-color: #303c6c;
    margin-right:8rem;
    margin-left:8rem;
    box-shadow: -2px 6px 18px rgba(0, 0, 0, 0.6);
}
.word-result{
    font-size: 46px;
    height:80px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    letter-spacing: .5px;
}
.Phonetic {
    height: 50px;
}
.phonetic-word{
    color:rgba(255, 255, 255, 0.801);
    font-family: "Cutive Mono", monospace;
    font-size: 26px;
    margin-right: 15px;
}
.listen{
    color: rgb(22, 27, 46);
    font-size: 28px;
    padding:2px 15px;
    border: 1px solid rgb(22, 27, 46);
    border-radius: 25px;
    background-color: rgb(244, 151, 108);
    transition: ease-in-out 500ms;
}
.listen:hover{
    background-color:rgb(180, 223, 229);
}
.Results section{
    text-align: start;
}
.part-Speech{
    font-size: 20px;
    font-family: "Fira Code", monospace;
    color:rgb(22, 27, 46, .8);
}
.definition {
    font-size: 22px;
    font-family: "DM Sans", sans-serif;
}
.example {
    font-size: 16px;
    font-family:"Fira Code", monospace;
    font-weight: 500;
}
.ex {
    font-family: "Cutive Mono", monospace;
    font-style:italic;
    color:  rgb(22, 27, 46);
    font-size: 18px;
    font-weight: 600;
}
.Synonyms {
    font-family: "DM Sans", sans-serif;
}
.title {
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
}
li {
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    line-height: 25px;
}
