

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    color: black;
}
body{
    background-image: url("./grey.jpg") ;
    background-size:cover;
    background-repeat: repeat;
    background-position: center cover;
}

.dictionary{
    margin:3rem;
}
form {
    display: flex;
    justify-content: center;
    position: relative;
}
placeholder{
    background-color: white;
}
.search-input{
    width: 25%;
    border: 2px solid #1d1c1c;
    border-radius: 15px;
}
.btn{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    align-content: center;
    border: 2px ridge #bbb9b9;
    border-radius: 15px;
    margin-left: 10px;
    background-color: rgb(241, 170, 62);

}
.main-word{
    font-size: 22px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-transform:capitalize;

    
}
.word-result{
    color:rgb(7, 7, 7);
    font-size: 30px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 6px;
    border: 2px ridge #494848;
}
.Phonetic a{
    color:rgb(7, 7, 7);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    line-height: 1.5px;
    font-size: 18px;
    border-radius: 6px;
    border: 2px ridge rgb(73, 72, 72);
}
.partOfSpeech{
    font-size: 26px;
    font-weight: 900;
    font-variant: small-caps;
    color:rgba(7, 7, 7, 0.993);
    text-decoration: underline;
}
.title {
    font-family:  "Courier Prime", monospace;
    font-size: 22px;
    color:rgb(7, 7, 7);
    text-align: left;
    font-weight: 500;
}
.definition{
    font-size: 18px;
    font-weight: 400;
    color:rgb(8, 8, 8);
    text-align: left;
    font-family: "DM Sans", sans-serif;

}
.defBox{
    color:rgb(31, 30, 30);
    background-color:rgb(241, 170, 62);
    padding: 20px;
    border-radius: 6px;
    align-content: center;
    border: 2px ridge rgb(73, 72, 72);
    width: 50%;
    position: relative;
    
}

.Example{
    font-family:  "Courier Prime", monospace;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    margin-left: -10px;

}
.exBox{
    background-color: #f8f8f6;
    border: 2px ridge rgb(73, 72, 72);
    border-radius: 20px;
}
.synBox{
    background-color: #ffffff;
    border: 2px ridge rgb(73, 72, 72);
    border-radius: 20px;
}
.synTitle {
    font-size: 20px;
    font-variant: small-caps;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    margin-left:-15px;
    text-decoration:underline;
}
li {
    font-size: 18px;
    font-family:  "Courier Prime", monospace;
    font-weight: 400;
}
