

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    color: black;
}

.dictionary{
    font-size: 20px;
    margin: 2rem;
   
}
form {
    display: flex;
    justify-content: center;
    position: relative;
}
.search-input{
    width: 25%;
    border: 2px solid #013b33;
    border-radius: 15px;
}
.btn{
    font-size: 18px;
    font-weight: 600;
    color: #013b33;
    align-content: center;
    border: 2px solid #013b33;
    border-radius: 15px;
    margin-left: 10px;
    background-color: #e8fe85;

}
.main-word{
    font-size: 28px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: underline;
    text-transform:capitalize;
}
.partOfSpeech{
    font-size: 24px;
    font-weight: 700;
    font-variant: small-caps;
}
.title {
    font-family:  "Courier Prime", monospace;
    font-size: 20px;
    font-weight: 600;
}
.definition{
    font-size: 18px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;

}
.example{
    font-family:  "Courier Prime", monospace;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}
.synTitle {
    font-size: 18px;
    font-variant: small-caps;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    text-decoration:underline;
}
li {
    font-size: 16px;
    font-family:  "Courier Prime", monospace;
    font-weight: 400;
}
